sudo: required
services:
  -docker

before_install:
  -docker build -t jakesmoon/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true jakesmoon/react-test npm test

after_success:
  - docker build -t jakesmoon/multi-client ./client
  - docker build -t jakesmoon/multi-nginx ./nginx
  - docker build -t jakesmoon/multi-server ./server
  - docker build -t jakesmoon/multi-worker ./worker

# Login to docker CLI
echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

# Push images to docker hub
- docker push jakesmoon/multi-client
- docker push jakesmoon/multi-nginx
- docker push jakesmoon/multi-server
- docker push jakesmoon/multi-worker